<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>:: Vue Souls ::</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="style.css">    
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Boss</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: bossLife < 20}"
                        :style="{width: bossLife + '%'}"></div>
                </div>
                <div>{{ bossLife }}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="bossLife === 0" class="win">Boss has defeated :)</div>
            <div v-else class="lose">You DIED :(</div>
        </div>
        <div class="panel buttons">
            <template v-if="isRunning">
                <button @click="attack(false)" class="btn attack">Attack</button>
                <button @click="attack(true)" class="btn special-attack" :class="{disabled: numberOfSpecialAttack === 0}">
                    Special Attack ({{ numberOfSpecialAttack }})
                </button>
                <button @click="healAndHit" class="btn heal" :class="{disabled: numberOfHeals === 0}">Estus ({{ numberOfHeals }})</button>
                <button @click="isRunning = false" class="btn give-up">Give Up</button>
            </template>
            <template v-else>
                <button @click="newGame" class="btn new-game">New Game</button>
            </template>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" class="log" :class="log.cls">
                    {{ log.text }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>    
</body>
</html>